<audio id="you_won" >
   <source src="/you_won.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
</audio>
<%= content_tag :div, id: "background-wrapper" do %>
   <%= content_tag :div, id: "users_wrapper" do %>
      <%= image_tag ("arm_feat_logo.png"), id: "mini-logo" %>
      <%= content_tag :div, id: "flash_message_profile" do %>
         <%= flash[:notice] if flash[:notice] %>
      <% end %>
      <%= content_tag :div, id: "user_photo" do %>
         <%= image_tag @user.avatar.url, id: "default_photo" %>
      <% end %>
      <%= content_tag :div, id: "user_info" do %>
         <%= content_tag :p, "Username: #{@user.username}" %>
         <%= content_tag :p, "Record: WINS #{@user.stat_chart.wins} LOSSES #{@user.stat_chart.losses}" %>
      <% end %>
      <button class="home_buttons" id="profile_logout_button"><%= link_to "Log Out", logout_path, method: :delete %></button>
      <button class="home_buttons" id="profile_play_button"><%= link_to "LET'S PLAY!", new_attempt_path %></button>
   <% end %>
<% end %>
