<audio id="crowd_noise" >
   <source src="/crowd_noise.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
   </audio>
<audio id="bell_noise">
   <source src="/bell_start.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
</audio>
<%= content_tag :div, id: "home_wrapper" do %>
   <%= image_tag("arm_feat_logo.png", id: "home_logo") %>
   <%= content_tag :div, id: "flash_message" do %>
      <%= flash[:notice] if flash[:notice] %>
   <% end %>

   <% if current_user %>
      <%= content_tag :h3, "Welcome #{current_user.username}!", id: "welcome_home" %>
      <%= content_tag :div, id: "logged-in" do %>
         <%= content_tag :div, id: "start-playing" do %>
            <button class="home_buttons"><%= link_to "Play Now", new_attempt_path %></button>
         <% end %>
         <%= content_tag :div, id: "log-out" do %>
            <button class="home_buttons"><%= link_to "Log Out", logout_path, method: :delete %></button>
         <% end %>
      <% end %>
   <% else %>
      <%= content_tag :div, id: "not_logged_in" do %>
         <%= content_tag :div, id: "sign_up" do %>
            <button id="sign_up_button" class="home_buttons"><%= link_to "Sign Up", new_user_path %></button>
         <% end %>
         <%= content_tag :div, id: "log_in" do %>
            <button id="log_in_button" class="home_buttons"><%= link_to "Log In", login_path %></button>
         <% end %>
      <% end %>
   <% end %>
<% end %>
