<h1>ARM FEAT</h1>
<p>TYPE CHAMPION</p>

<%= content_tag :h1, @word.text %> <br>
<%= content_tag :h3, "Youre Score: #{@score}" %> <br>

<%= form_tag check_word_path do %>
   <%= text_field_tag :word, "", :autofocus => true %>
   <%= hidden_field_tag :answer, @word.text %>
   <%= hidden_field_tag :attempt, @attempt.id %>
   <%= submit_tag :send %>
<% end%>
